ul, 
ol {list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {color: inherit;
text-decoration: none;
}
button {cursor: pointer;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
margin-bottom: 0;
margin: 0;
}

.container {
max-width: 1158px;
margin: 0  auto;
padding: 0 15px;
}


body {
font-family: "Roboto", sans-serif;
color:#434455; 
background-color:#FFFFFF;
}

.section-paddings {
    padding-top: 120px;
    padding-bottom: 120px;
}
/*--header-styles--*/

.page-header {
    border-bottom: 1px solid #e7e9fc;  
}

.page-header-container {
    display: flex;
justify-content: space-between;
width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
    

.page-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}


.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.menu {
    display: flex;
}

.menu-item {
    margin-right: 40px;
}
.menu-item:last-child {
    margin-right: 0;
}

.text-color {color: #2e2f42;
}



.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
}

    .menu-link:hover,
    .menu-link:focus  
    {color: #404bbf;
    }
    
.menu-top-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #434455;
}

        .menu-top-link:hover,
        .menu-top-link:focus {
         color: #404bbf;
        }

address {font-style: normal;
}

.menu-top {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-menu-top {
    margin-right: 40px;
}
.page-menu-top:last-child {
    margin: 0;
}

/*--Section1--*/ 

.page-box {
    background-color: #2e2f42;
    padding: 188px 0;
}

 .page-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

 .button-one {
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
}

    .button-one:hover,
    .button-one:focus {
     background-color: #404bbf;
    }

 /*--Section2--*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

 .page-main {
    display: flex;
 }
.lead {
    width: calc((100% - 72px) / 4);
    margin-right: 24px;
}
 .lead:last-child {
    margin-right: 0;
 }

.page-main-title {
    width: 264px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}
.page-main-title

 .page-main-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

    /*--Section3-4--*/ 

.container-holder {
    padding: 32px 0;
}

.container-holder-box {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.product:first-child {
    width: calc((100% - 48px) / 3);
}

.page-menu-list {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    border-bottom: #404bbf;
    row-gap: 48px;
    
}

.page-menu {
    display: flex;
}

.menu-list {
    background-color: #FFFFFF;
    margin-right: 24px;
    border-radius: 0px 0px 4px 4px;
}
.menu-list:last-child {
    margin-right: 0;
}

.section-three {
    
    background-color: #f4f4fd;
}

.title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2e2f42;
}

   

 .title-three {
    font-weight: 500;
    font-size: 20px;
     line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}              


.section-three-four {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}



/*--Footer--*/

.content {
    padding: 100px 0; 
    background-color: #2e2f42;
}


.footer-lead {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

    .text-color-two {
        color: #f4f4fd;
    }
.page-logo-two {
    display: inline-block;
    margin-bottom: 16px;
}
 
    
    
  